body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.homepage{
    background-image: url(/static/img/pills_white.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 10px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

}
.form-register {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.overflow-y {
    overflow-y: auto !important;
}
.h-100 {
    height: 100%!important;
}

.navbar {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0rem;
    background-color: white;
    width: 100%;
    overflow: hidden;
    z-index:300;
}

.nav-link-text {
    font-size: 1.4em;
}

.opacity {
    opacity: 1;
}

.nav-ele-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.form-ele{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.card-deck {
    margin-top: 20%;
    padding: 20px 40px;
}

#card-with-img {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 5px;
}
#card-size-1 {
    margin: 1%;
    padding-right: 10px;
    padding-left: 10px;
}
.top-margin {
    margin-top: 100px;
}

.fixed-element {
    position: fixed;
    background-color: white;
    top:100;
    width:100%;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.py-1 {
    padding-bottom: .25rem!important;
}
.py-2 {
    padding: 1rem!important;
 }
.py-3 {
    padding: 0.5rem!important;
}
.py-4 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}


.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.user-margin {
    padding: 1.5rem;
    margin:auto;
    width: 100%;
}
.user-margin-2 {
    padding: 0.5rem;
    margin-left: 1rem;
    width: 100%;
}

.my-meds{
    margin: 2rem;
    padding: 20px 40px;
    max-width: 500px;
    max-height: 600px;
}

.border {
    border-style: 2px solid;
    border-radius: 3px;
    border-color: grey;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text-center {
    text-align: center!important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center center;
}

.mar-50 {
    margin-top: 30%;
    margin-bottom: 50%;
}
.pill-id-margin {
    margin-top: 120px;
    padding: 20px 40px;
}

.footer {
    text-align: center!important;
    position: absolute;
    bottom:80;
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    padding: 30px 80px;
}

img {
    border-style: 5px solid;
    border-radius: 3px;
    border-color: black;
    margin: auto;
    padding: auto;
}

.color-clear {
    background-color: white;
    opacity: 1;
}

#justify-left {
    text-align: left;
}

#add_med_form {
    display:none;
}
.spacer-1 {
    margin-top: 280px;
}
.spacer-2 {
    margin-top: 200px;
}

.color-solid {
    background-color: white;
}

.font_increase {
    font-size: 1.4em;
}
#font_larger {
    font-size: xx-large;
}