<!doctype html>
<html>

<head>
  <title>{% block title %}TITLE HERE{% endblock %}</title>
  
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body>
<!--   <ul>
      {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% if session.get('user_email',None) %}
  <p>Hello, {{ session['user_email'] }} </p>
  <p><a href="/logout">Log Out</a></p>
  {% else %}
  <p><a href="/login">Log In</a></p>
  <p><a href="/register">Register</a></p>
  {% endif %}

  Ratings
  <hr> -->

  {% block content %} put your content here {% endblock %}

</body>
</html>