<!doctype html>
<html>

<head>
  <title>{% block title %}TITLE HERE{% endblock %}</title>
  
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
</head>

<body>
  <ul>
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
  </ul>
  {% if session.get('user_name',None) %}
  <p>Hello, {{ session['user_name'] }} </p>
  <p><a href="/logout">Log Out</a></p>
  {% else %}
  <p><a href="/login">Log In</a></p>
  <p><a href="/register">Register</a></p>
  {% endif %}


  {% block content %} put your content here {% endblock %}

</body>
</html>