<!doctype html>
<html>

<head>
  <title>{% block title %}TITLE HERE{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
  <div id="flash"> 
    <ul>
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
  </div>
  <header class="masthead mb-auto text-center">
  <div class="inner">
    <img src="/static/img/myPillHelper.jpg" alt width="200px" height="95px">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/find_meds">Identify an Unknown pill</a>
      {% if session.get('user_name',None) %}
      <a class="nav-link" href="/user-page">Your Profile</a>
      <a class="nav-link" href="/logout">Log Out</a>
      {% else %}
      <a class="nav-link" href="/login">Log In</a>
      <a class="nav-link" href="/register">Register</a>
      {% endif %}
    </nav>
  </div>
  </header>



  {% block content %} put your content here {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>
    
</body>
</html>