{% extends 'base.html' %}

{% block title %}Confirm Medication{% endblock %}


{% block content %}

<div id="med_info">
<p>
    Brand Name/s: 
    {% for info in api_results[4] %}
      {{ info }}
    {% endfor %}
</p>
<p>
    Indications: 
    {% for info in api_results[0] %}
      {{ info }}
    {% endfor %}
</p>
</div>
<h1>Is this your correct medication?</h1>
<form action="/add_med" id="yes_add_med" method="POST">
<input type="submit" value="Yes">
<input type="hidden" name="api_results" value="{{api_results}}">
<input type="hidden" name="indications" value="{{api_results[0]}}">
<input type="hidden" name="dosing_info" value="{{api_results[1]}}">
<input type="hidden" name="info_for_patients" value="{{api_results[2]}}">
<input type="hidden" name="contraindications" value="{{api_results[3]}}">
<input type="hidden" name="brand_name" value="{{api_results[4]}}">
<input type="hidden" name="pharm_class" value="{{api_results[5]}}">
</form>

<form action="/add_med_unverified" id="no_add_input" >
<input type="submit" value="No">
</form>


{% endblock %}


