{% extends 'base.html' %}

{% block title %}Confirm Medication{% endblock %}


{% block content %}

<div id="med_info">
<p>
 <ul>
  {% for key, value in database_med.items() %}

    
    <div id="med_results"> 
      <p id="med_name"> Medication Name: {{ value[0] }} </p> 
      <p> Strength: {{ key }} </p> 
      <img src="{{ value[1][0] }}" width=40% height=40% onerror="this.onerror=null;this.src='/static/img/No_Image_Avail.jpg';"/>
      </a>
    </div> 
    <h1>Is this your correct medication?</h1>
    <form action="/add_med" id="yes_add_med" method="POST">
    <input class="btn btn-dark" type="submit" value="Yes">
    <input type="hidden" name="med_image" value="{{value[1][0]}}">
    <input type="hidden" name="med_strength" value="{{key}}">
    </form>

    <form action="/add_med_unverified" id="no_add_input" >
    <input class="btn btn-dark" type="submit" value="No">
    </form>
    
  {% endfor %}
</ul>
</p>

</div>



{% endblock %}


