{% extends 'base.html' %}

{% block title %}Identify Medication{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-md w-100">
  <div class="container-fluid">
    <a class="navbar-brand my-0 mr-md-auto" href="/">
        <img src="/static/img/PillHelperLogo.jpg" alt width="250px" height="125px">
        </a>
        <div class="navbar-links my-2 my-md-0 mr-md-3">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-link-text p-2 text-dark" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-text p-2 text-dark" href="/find_meds">Pill Search</a>
              </li>
              {% if session.get('user_name',None) %}
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/user-page">Your Profile</a>
              </li>
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/logout">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/login">Log In</a>
              </li>
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/register">Register</a>
              </li>
              {% endif %}
            </ul>
    </div>
  </div>
  </nav>

<div class="pill-id-margin">
<h1 class="px-5 py-5">Pill Search</h1>
<div class="card-deck text-center" id="card-with-img">

    <div class="card shadow-sm color-clear py-3" id="card-size-1">
      <div class="card-body my-1 text-center">
        <span id="justify-left">
          <h3>How to identify a pill using the Pill Identifier?</h3>
          <div >
          <p class ="font_increase">1. Enter an imprint code that appears on the pill e.g. APO </p>
          <p class ="font_increase">2. Select the score. The score is a groove to both indicate that 
          a pill may be split and to aid the practice of splitting pills. If the pill 
          does not appear to have a groove, select 1.</p>
          <p class ="font_increase">3. Select the shape (optional)</p>
          <p class ="font_increase">4. Select the the pill color (optional) </p>
          </div>
          <h4>Please populate as many fields as you are able to.</h4>
        </span>
      </div>
    </div>

    <div class="card shadow-sm color-clear py-3" id="card-size-1">
      <div class="card-body my-1 text-center">
          <span>
          <img src="\static\img\Imprint.jpg" width=70% height=50%>
          </span>   
      </div>
    </div>

  </div>
<div>

</div>

<div class="mx-4 my-5">
    <form action="/results" id="find_meds">
       <div class="form-row">
    <div class="col">
      <label for="imprint"></label>
      <input type="text" class="form-control" id="pill_imprint"  placeholder ="Imprint" name="pill_imprint">
    </div>

    <div class="col">
      <label for="score"> </label>
      <select type="number" class="form-control" id="pill_score" name="pill_score">
          <option value="unknown">Score</option>
          <option value="unknown">Unknown</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
      </select>
    </div>

    <div class="col">
    <label for="shape"> </label>
    <select id="pill_shape" class="form-control" name="pill_shape">
        <option value="unknown">Shape</option>
        <option value="unknown">Unknown</option>
        <option value="bullet">Bullet</option>
        <option value="capsule">Capsule</option>
        <option value="clover">Clover</option>
        <option value="diamond">Diamond</option>
        <option value="double_circle">Double Circle</option>
        <option value="freeform">Free-form</option>
        <option value="gear">Gear</option>
        <option value="heptagon">Heptagon (7 sides)</option>
        <option value="hexagon">Hexagon (6 sides)</option>
        <option value="octagon">Octagon (8 sides)</option>
        <option value="oval">Oval</option>
        <option value="pentagon">Pentagon</option>
        <option value="rectangle">Rectangle</option>
        <option value="round">Round</option>
        <option value="semi-circle">Semi-Circle</option>
        <option value="square">Square</option>
        <option value="tear">Tear</option>
        <option value="trapezoid">Trapezoid</option>
        <option value="triangle">Triangle</option>
    </select>
  </div>

    <div class="col">
    <label for="color"></label>
    <select id="pill_color" class="form-control" name="pill_color">
        <option value="unknown">Color</option>
        <option value="Unknown">Unknown</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="turquoise">Turquoise</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="pink">Pink</option>
        <option value="black">Black</option>
        <option value="gray">Gray</option>
        <option value="white">White</option>
        <option value="brown">Brown</option>
    </select>
  </div>

    <div class="col">
      <label for="name_of_med"> </label>
      <input type="text" class="form-control" id="name_of_med" placeholder="Medication Name" name="name_of_med">
    </div>
    <div class="col-auto.my-1">
       <input class="btn btn-dark text-center mar-50" type="submit" value="Find">
    </div>
    </form>
</div>

</div>

<footer class="footer">
<div class="container-fluid">
  <h4> Disclaimer </h4>
  <p>If you're here because of an emergency, call 911 or the national Poison Help hotline at 1-800-222-1222. All images are from the NIH Pillbox database and most are not part of the drug labels and have not been verified by the drug labeling company. Always consult your physician or pharmacist with any medication-related questions.</p>
</div>
</footer>


{% endblock %}