{% extends 'base.html' %}

{% block title %}More Information{% endblock %}

{% block content %}
<p><a href="/">Homepage</a></p>
{% if session.get('user_name',None) %}
  <p><a href="/user-page">Your Profile</a></p>
{% endif %}
<p><a href="/find_meds">Find Another Medication</a></p>

<div>
  <h2>More Information on Your Medication</h2> 
  <h3>Common Medication Name:</h3>
  <p>  
    {{api_results['brand_name']}}
  </p>
  <h3>This medication is commonly used for the following purpose:</h3>
  <p> 
    {{api_results['indications']}}
  </p>
  <h3>Dosing Information:</h3>
  <p>
    {{api_results['dosing_info']}}
  </p>
  <h3>More Information for Patients:</h3>
  <p>
    {{api_results['info_for_patients']}}
  </p>
  <h3>Consider these Contraindications:</h3>
  <p>
    {{api_results['contraindications']}}
  </p>
  <h3>This medication is of the following Pharmacy Class:</h3>
  <p>  
    {{api_results['pharm_class']}}
  </p>
  

</div>
<div id=footer_more_info> 
Occasionally you will find that there is less information 
than you may have expected. We apologize for the inconvenience. We are currently using 
a database that is still expanding on a regular basis. Thank you for understanding.
</div>

{% endblock %}