{% extends 'base.html' %}

{% block title %} No Search Results {% endblock %}

{% block content %}

<nav class="navbar navbar-expand-md w-100">
  <div class="container-fluid">
    <a class="navbar-brand my-0 mr-md-auto" href="/">
        <img src="/static/img/PillHelperLogo.jpg" alt width="250px" height="125px">
        </a>
        <div class="navbar-links my-2 my-md-0 mr-md-3">
            <ul class="navbar-nav">
              <li class="nav-item p-2">
                <a class="nav-link nav-link-text text-dark" href="/">Home</a>
              </li>
              {% if session.get('user_name',None) %}
              <li class="nav-item p-2">
              <a class="nav-link nav-link-text text-dark" href="/user-page">Your Profile</a>
              </li>
              <li class="nav-item p-2">
              <a class="nav-link nav-link-text text-dark" href="/logout">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item p-2">
              <a class="nav-link nav-link-text text-dark" href="/login">Log In</a>
              <li class="nav-item p-2">
              <a class="nav-link nav-link-text text-dark" href="/register">Register</a>
              </li>
              {% endif %}
            </ul>
    </div>
  </div>
  </nav>
    <div class="spacer-3"></div>
    <div class="pill-id-margin px-5" id="no_search_results"> 
      <h1>There were no results to your search.</h1> <br>
      <h6>
        Please try again with a different approach. 
        If nothing was entered, please populate at least one item.
      </h6>
      <br>
      <p id="link"><a href="/find_meds" class="text-success text-decoration-none">Go back to: Pill Search</a></p>
    </div> 
    
{% endblock %}