{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
  <p><a href="/">Homepage</a></p>

  <h2>Registration</h2>

  <form action="/register" id="registration-form" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name">
    <label for="email">Email address:</label>
    <input type="text" id="email" name="email">
    <label for="cell">Cell Number:</label>
    <input type="text" id="cell" name="cell" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit">
  </form>

{% endblock %}