{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
  
 <nav class="navbar navbar-expand-md w-100">
  <div class="container-fluid">
    <a class="navbar-brand my-0 mr-md-auto" href="/">
        <img src="/static/img/PillHelperLogo.jpg" alt width="250px" height="125px">
        </a>
        <div class="navbar-links my-2 my-md-0 mr-md-3 p-2">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-link-text p-2 text-dark" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-text p-2 text-dark" href="/find_meds">Pill Search</a>
              </li>
              {% if session.get('user_name',None) %}
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/user-page">Your Profile</a>
              </li>
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/logout">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link nav-link-text p-2 text-dark" href="/login">Log In</a>
              {% endif %}
            </ul>
    </div>
  </div>
  </nav>
  
 <div class="text-center" width=60% height=90%>
  <form class="form-register" action="/register" id="registration-form" method="POST">
    <h2>Registration</h2>
      <div class="container">
      <h5 id="justify-left">Register to log and keep track of your medications. Registered users can also opt-in for SMS text reminders for medication dosing and refills times. </h5>
      <p id="justify-left">Why Register? </p>
      <li id="justify-left">Log and keep track of your medications. </li>
      <li id="justify-left">You can opt-in for SMS text reminders to take your medications and to remind you to refill your prescriptions. Standard message rates may apply</li>
    </div>
    <p>  </p>
    <label for="first_name"></label>
    <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name" required>
    <label for="last_name"></label>
    <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name">
    <label for="email"></label>
    <input class="form-control" type="text" id="email" name="email" placeholder="Email">
    <label for="cell"></label>
    <input class="form-control" type="text" id="cell" name="cell" placeholder="Cell Phone" required>
    <label for="password"></label>
    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
    <br>
    <input class="btn btn-lg btn-dark btn-block" type="submit" value="Sign In">
  </form>
  </div>

{% endblock %}