{% extends 'base.html' %}

{% block title %}Schedule your Medication{% endblock %}


{% block content %}
  <div class="spacer-5"></div>
  <div class="container-fluid">
    <div class="form-schedule mt-5">
    <h1>Scheduling Text Reminders for {{ med_strength }}</h1>
    </div>
        <div class="form-schedule mb-5">
        <h2>When do you want to recieve your text notifications?</h2>
        <div class="form-group my-1">
          <form class="my-4" >
            <label class="font_increase" for="AM_time">Morning Notification</label>
            <input class="form-control" type="time" id="AM_time_id" name="AM_time" min="05:00" max="10:00">
            <label class="font_increase" for="Mid_time">Mid-day Notification</label>
            <input class="form-control" type="time" id="Mid_time_id" name="Mid_time" min="9:00" max="14:00">
            <label class="font_increase" for="PM_time">Evening Notification</label>
            <input class="form-control" type="time" id="PM_time_id" name="PM_time" min="17:00" max="22:00">
          </form>
        </div>
        <div>
        <h2>We need more information about your prescription to send you notifications.</h2>
        </div>
        <h5 class="my-2">This information can be found on your prescription lable.</h5>
        <div class="form-group my-1">
          <form class="my-4">
            <label class="font_increase" for="duration">Prescription Duration (in days)</label>
            <input class="form-control" type="number" id="duration_id" name="duration" required>
            <label class="font_increase" for="qty">Quantity Prescribed</label>
            <input class="form-control" type="number" id="qty_id" name="qty" value=30>
            <label class="font_increase" for="refills">Refills</label>
            <input class="form-control" type="number" id="refills_id" name="refills" value=1>
            <input type="hidden" id="med_strength" name="med_strength" value="{{med_strength}}">
            <input type="hidden" id="med_id" name="med_id" value="{{med_id}}">
          </form>
        </div>
        <button class="btn btn-dark" id="submit_this">
          <a href="/user-page" class="text-light">Schedule Medication</a>
        </button>
        </div>
  </div>


 <script>

    document.addEventListener('DOMContentLoaded', () => {
        $('#submit_this').on('click', submit_med_info)
    
    function submit_med_info() {
        console.log('hii');
        const am_time = document.getElementById("AM_time_id");
        const mid_time = document.getElementById("Mid_time_id");
        const pm_time = document.getElementById("PM_time_id");
        const duration = document.getElementById("duration_id");
        const qty = document.getElementById("qty_id");
        const refills = document.getElementById("refills_id");
        const med_strength = document.getElementById("med_strength");
        const med_id = document.getElementById("med_id");

        const entry = {
            am_time: am_time.value,
            mid_time: mid_time.value,
            pm_time: pm_time.value,
            duration: duration.value,
            qty: qty.value,
            refills: refills.value,
            med_strength: med_strength.value,
            med_id: med_id.value,
        };

        fetch(`${window.origin}/schedule_med`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
              "content-type": "application/json"
            })
          })
          .then(function(response) {
            if (response.status !== 200) {
              console.log(`Looks like there was a problem. Status code: ${response.status}`);
              return;
            }
            response.json().then(function(data) {
              console.log(data);
            });
          })
          .catch(function(error) {
            console.log("Fetch error: " + error);
        });
      };
    });

  </script> 

{% endblock %}


