{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}


  <h2>User Profile</h2>

    {{ user.f_name }}, it is a beautiful day to schedule your medications! 
  
  <h2>Add a medication to your med list</h2>
    <div class="container-fluid">
      <form action="/user-page" id="add_med" method="POST">
        <label for="med_name">Medication Name:</label>
        <input type="text" id="med_name" name="med_name" required>
        <label for="med_name">Strength of Medication:</label>
        <input type="text" id="med_strength" name="med_strength" required>
        <label for="qty_per_dose">Quantity Per Dose:</label>  
        <input type="number" id="qty_per_dose" name="qty_per_dose" required>
        <label for="dosing">Dosing Schedule:</label>
        <select id="dosing" name="dosing" required>
            <option value="1">Once Daily</option>
            <option value="2">Twice Daily</option>
            <option value="3">Three Times Daily</option>
        </select>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>

        <input type="submit" value="Add Medication">
      </form>
    </div>

  
    <h2>My Medications</h2>
    <div class="container-fluid">
      <ul>
      {% for key, value in med_options.items() %}
        <div id="user_meds"> 
        <h3 id="med_name"> Medication Name: {{ key }} </h3> 
        <div>
            <form action="/show_schedule_form", method = "POST">
            <input type="submit" value="Schedule This Med">
            <input type="hidden" name="med_strength" value="{{key}}">
            <input type="hidden" id="med_id" name="med_id" value="{{value['med_id']}}">
            </form>
        </div>
        <h3>Strength(s)</h3>
        
        <p>
            {% for val in value['strength'] %}
                <li>{{ val }}</li>
            {% endfor %}
        </p>
        <img src="{{ value['img_path'][0] }}" width =10% height=10%>
        <br>
        <button class="userMedInfo" id="med_indication"><h3>Indications</h3></button>
        <p id="dict_indications"></p>

        <button class="userMedInfo" id="med_dosing"><h3>Dosing Information</h3></button>
        <p id="dict_dosing"></p>

        <button class="userMedInfo" id="med_pharm"><h3>Pharmacy Class</h3></button>
        <p id="dict_pharm"></p>

        <button class="userMedInfo" id="med_contraindications"><h3>Contraindications</h3></button>
        <p id="dict_contra"></p>

        <button class="userMedInfo" id="med_more_info"><h3>More Information for Patients</h3></button>
        <p id="dict_more"></p>
        
        </div> 

      {% endfor %}
      </ul>
    </div>

    <script>
 
    document.addEventListener('DOMContentLoaded', () => {
        
        $('#med_indication').on('click', (get_med_info) =>  {
            console.log('I am getting med info.');
            const med_id = document.getElementById("med_id");

            const entry = {
                med_id: med_id.value,
            };

            fetch(`${window.origin}/user_data`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                  "content-type": "application/json"
                })
              })
              .then(function(response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.json().then(function(data) {
                  console.log(data);
                  const valIndications = (data['indications']);
                  const updateIndications = document.querySelector('#dict_indications');
                  updateIndications.innerHTML = (`${valIndications}`);
                });

              })
              .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        });

        $('#med_dosing').on('click', (get_med_info) =>  {
            console.log('I am getting med info.');
            const med_id = document.getElementById("med_id");

            const entry = {
                med_id: med_id.value,
            };

            fetch(`${window.origin}/user_data`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                  "content-type": "application/json"
                })
              })
              .then(function(response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.json().then(function(data) {
                  console.log(data);
                
                  const valDosing = (data['dose_admin']);
                  const updateDosing = document.querySelector('#dict_dosing');
                  updateDosing.innerHTML = (`${valDosing}`);
                });

              })
              .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        });
        $('#med_pharm').on('click', (get_med_info) =>  {
            console.log('I am getting med info.');
            const med_id = document.getElementById("med_id");

            const entry = {
                med_id: med_id.value,
            };

            fetch(`${window.origin}/user_data`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                  "content-type": "application/json"
                })
              })
              .then(function(response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.json().then(function(data) {
                  console.log(data);
                
                  const valPharm = (data['pharm_class']);
                  const updatePharm = document.querySelector('#dict_pharm');
                  updatePharm.innerHTML = (`${valPharm}`);
                });

              })
              .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        });
        $('#med_contraindications').on('click', (get_med_info) =>  {
            console.log('I am getting med info.');
            const med_id = document.getElementById("med_id");

            const entry = {
                med_id: med_id.value,
            };

            fetch(`${window.origin}/user_data`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                  "content-type": "application/json"
                })
              })
              .then(function(response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.json().then(function(data) {
                  console.log(data);
                
                  const valContra = (data['contraindications']);
                  const updateContra = document.querySelector('#dict_contra');
                  updateContra.innerHTML = (`${valContra}`);
                });

              })
              .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        });
        $('#med_more_info').on('click', (get_med_info) =>  {
            console.log('I am getting med info.');
            const med_id = document.getElementById("med_id");

            const entry = {
                med_id: med_id.value,
            };

            fetch(`${window.origin}/user_data`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                  "content-type": "application/json"
                })
              })
              .then(function(response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.json().then(function(data) {
                  console.log(data);
                
                  const valMoreInfo = (data['more_info']);
                  const updateMoreInfo = document.querySelector('#dict_more');
                  updateMoreInfo.innerHTML = (`${valMoreInfo}`);
                });

              })
              .catch(function(error) {
                console.log("Fetch error: " + error);
            });
        });
    });
         
    </script>



{% endblock %}