{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}

<p><a href="/">Homepage</a></p>
<p><a href="/find_meds">Find Another Medication</a></p>

  <h2>User Profile</h2>

    {{ user.f_name }}, it is a beautiful day to schedule your medications! 

  
  <h2>Keep track of your med list</h2>
    <div>
      <form action="/user-page" id="add_med" method="POST">
        <label for="med_name">Medication Name:</label>
        <input type="text" id="med_name" name="med_name" required>
        <label for="med_name">Strength of Medication:</label>
        <input type="text" id="med_strength" name="med_strength" required>
        <label for="qty_per_dose">Quantity Per Dose:</label>  
        <input type="number" id="qty_per_dose" name="qty_per_dose" required>
        <label for="dosing">Dosing Schedule:</label>
        <select id="dosing" name="dosing" required>
            <option value="1">Once Daily</option>
            <option value="2">Twice Daily</option>
            <option value="3">Three Times Daily</option>
        </select>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>

        <input type="submit" value="Add Medication">
      </form>
    </div>

  
    <h2>My Medications</h2>

    <ul>
     
    </ul>


{% endblock %}