{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}


  <h2>User Profile</h2>

    {{ user.f_name }}, it is a beautiful day to schedule your medications! 
  
  <h2>Add a medication to your med list</h2>
    <div class="container-fluid">
      <form action="/user-page" id="add_med" method="POST">
        <label for="med_name">Medication Name:</label>
        <input type="text" id="med_name" name="med_name" required>
        <label for="med_name">Strength of Medication:</label>
        <input type="text" id="med_strength" name="med_strength" required>
        <label for="qty_per_dose">Quantity Per Dose:</label>  
        <input type="number" id="qty_per_dose" name="qty_per_dose" required>
        <label for="dosing">Dosing Schedule:</label>
        <select id="dosing" name="dosing" required>
            <option value="1">Once Daily</option>
            <option value="2">Twice Daily</option>
            <option value="3">Three Times Daily</option>
        </select>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>

        <input type="submit" value="Add Medication">
      </form>
    </div>

  
    <h2>My Medications</h2>
    <div class="container-fluid">
      <ul>
      {% for key, value in med_options.items() %}
        <div id="user_meds"> 
        <h3 id="med_name"> Medication Name: {{ key }} </h3> 
        <div>
            <form action="/show_schedule_form", method = "POST">
            <input type="submit" value="Schedule This Med">
            <input type="hidden" name="med_strength" value="{{key}}">
            <input type="hidden" name="med_id" value="{{value['med_id']}}">
            </form>
        </div>
        <h3>Strength(s)</h3>
        
        <p>
            {% for val in value['strength'] %}
                <li>{{ val }}</li>
            {% endfor %}
        </p>
        <img src="{{ value['img_path'][0] }}" width =10% height=10%>
        <h3>Indications</h3>
        <p>{{ value['indications'] }}</p>
        <h3>Dosing Information</h3>
        <p>{{ value['dose_admin'] }}</p>
        <h3>Pharmacy Class</h3>
        <p>{{ value['pharm_class'] }}</p>
        <h3>Contraindications</h3>
        <p>{{ value['contraindications'] }}</p>
        <h3>More Information for Patients</h3>
        <p>{{ value['more_info'] }}</p>
        </div> 

      {% endfor %}
      </ul>
    </div>

    <ul>
     
    </ul>


{% endblock %}